/* Index.htm */
.keytable, .keytable td {
 border: #777 1px solid;
 border-collapse: collapse;
 padding: 1px 5px;
}

/* Metadata Demo CSS */
body {
 background: #222;
 color: #ddd;
}

body.meta {
 text-align: center;
 width: 800px;
 margin: 0 auto;
}

a:link { color: #fc0; text-decoration: none; }
a:hover { color: #fff; }
a:visited,a:active { color: #f80; }
img { border: 0; }
.hidden { display: none; }

#left, #right {
 float: left;
}

h3 {
 margin-top: 0;
}

.spacer {
 height: 120px;
}

.meta {
 width: 300px;
 margin: 0 auto;
 text-align: left;
}

.meta td {
 min-width: 90px;
}

.meta td.label {
 text-align: right;
}

input.val {
 text-align: left;
 width: 50px;
}

#ti, #re, val2 {
 width: 150px;
}

#code {
 width: 400px;
 height: 120px;
 margin-right: 20px;
}